.categories {
    position: relative;
    display: flex;
    align-items: baseline;
    gap: 30px;
    overflow-x: auto;

    &__item {
        font-size: 18px;
        padding-bottom: 8px;
        flex-shrink: 0;
    }
}

.active__link{
    border-bottom: dotted 4px #000;
    border-image-source: url("/icons.dots.svg");
    border-image-slice: 2;
    border-image-repeat: round;
    border-image: url("/icons.dots.svg") 2 round;
}