.sertificates {
    background: rgb(42, 41, 40, 0.05);
    padding: 110px 0;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__title {
        color: #2B2A29;
        font-size: 22px;
    }

    &__block {
        display: flex;
        gap: 10px;
    }
}