.journal {
    display: flex;

    &>div {
        max-width: 47%;
        width: 100%;
        border: 1px solid rgba(43, 42, 41, 0.10);
        flex-grow: 1;
        background-color: #fff;
    }

    &>div:nth-child(2) {
        max-width: 53%;
    }

    &__image {
        position: relative;
        max-width: 535px;
        width: 100%;
        aspect-ratio: 535/705;
    }

    &__info {
        padding: 77px 60px;
        padding-right: 74px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        &__title {
            font-size: 32px;
        }

        &__desc {
            max-height: 385px;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
        }

        &>a {
            color: #2B2A29;
            font-size: 22px;
            line-height: normal;
            text-decoration-line: underline;
        }
    }
}

@media screen and (max-width: 965px) {
    .journal {
        &__info {
            padding: 30px;

            &__desc {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 8;
                line-clamp: 8;
                -webkit-box-orient: vertical;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .journal {
        &__info {
            &__desc {
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .journal {
        flex-direction: column;

        &>div:first-child {
            border-bottom: none;
        }

        &>div {
            max-width: 100%;
        }

        &>div:nth-child(2) {
            border-top: none;
            max-width: 100%;
        }
    }
}