.news {
    padding: 30px;
    background-color: rgba(43, 42, 41, 0.05);

    &__title {
        max-width: 449px;
        font-size: 32px;
        line-height: 40px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    &__subtitle {
        color: #2B2A29;
        font-size: 12px;
        line-height: normal;
    }

    &__date {
        font-size: 12px;
        color: rgba(43, 42, 41, 0.6);
    }

    &__body {
        padding: 45px 0;

        &__container {
            max-width: 760px;
        }

        &__image {
            max-width: 100%;
            width: 100%;
            aspect-ratio: 76/45;
            position: relative;
        }

        &__desc {
            margin-top: 30px;
            font-size: 18px;
            line-height: 30px;
        }
    }

    &__images{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        & > div{
            max-width: 50%;
            width: 100%;
            position: relative;
            aspect-ratio: 1619/850;
        }
    }

    &__buildings{
        display: flex;
        flex-direction: column;
        gap: 10px;

        & > div{
            width: 100%;
            position: relative;
            aspect-ratio: 1377/867;
        }
    }
}

@media screen and (max-width: 500px) {
    .news {
        padding: 25px 0;

        &__images{
            gap: 10px;
            & > div{
                max-width: 100%;
            }
        }
    }
}