
.card{
    width: 225px;
    height: 170px;
    background-color: #fff;
    padding: 43px 10px 38px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}