
.card{
    width: 225px;
    height: 170px;
    background-color: #fff;
    padding: 43px 10px 38px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 710px) {
    .card{
        width: 190px;
    }
}

@media screen and (max-width: 417px) {
    .card{
        max-width: calc((100% - 1px) / 2);
        width: 100%;
    }
}